[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = [
    "python -m pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[start]
cmd = "gunicorn flask_backend:app --bind 0.0.0.0:$PORT --workers 2 --timeout 120"
